/* 1250px */
@media(max-width: 79em) {
  html {
    font-size: 55%;
  }

  .computer {
    height: 70%;
  }
}

/* 1111px */
@media(max-width: 71em) {
  html {
    font-size: 48%;
  }

  /* .computer {
    height: 50%;
  } */
}

/* 1000px */
@media(max-width: 63em) {
  html {
    font-size: 45%;
  }

  .computer {
    width: 60%;
  }

  .grid-2 {
    display: flex;
    gap: 4.8rem;
    margin-top: 10rem;
  }
}


/* 800px */
@media(max-width: 54em) {
  html {
    font-size: 40%;
  }

  .computer {
    /* height: 50%; */
    width: 60%;
  }

  .btn {
    display: flex;
    gap: 3.2rem;
  }

  .grid-2 {
    display: flex;
    gap: 4.8rem;
    margin-top: 10rem;
  }
}

/* 650px */
@media(max-width: 41em) {
  html {
    font-size: 30%;
  }
}

/* 550px */
@media(max-width: 35em) {
  html {
    font-size: 40%;
  }

  .header {
    width: 80%;
  }

  .devices {
    width: 100%;
  }

  footer {
    padding: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .back {
    background-image: url(../images/bg-header-mobile.png);
  }

  .computer {
    width: 100%;
    height: 100%;
  }

  .comp p,
  .comp h3 {
    text-align: center;
  }

  .comp {
    margin-bottom: 10rem;
  }

  .feat-section {
    /* display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center; */
    flex-direction: column;
    gap: 8.6rem;
    margin-bottom: 10rem;
  }

  .info-section,
  .feat-section,
  .cta-section {
    margin-top: 20rem;

  }

  .grid-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
  }

  .info-grid {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .flex-item {
    flex: 1;
  }

  .flex-item:nth-child(2) {
    order: 3;
  }

  .flex-item:nth-child(3) {
    order: 5;
  }

  .flex-item:nth-child(4) {
    order: 2;
  }

  .flex-item:nth-child(5) {
    order: 4;
  }

  footer a:link,
  footer a:visited {
    font-size: 1.6rem;
    text-align: center;
  }

  .flex {
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
  }

  button {
    padding: 1.2rem 6.4rem;
  }

  .btn {
    flex-direction: column;
  }

}

@media(max-width: 30em) {
  html {
    font-size: 35%;
  }
}